{% extends 'entry_base.html' %}

{% block header %}
<h2 class="entry header">{% block title %}{{ contact.Name }}{% endblock %}</h2>
{% endblock %}

{% block data_head %}
    <div class="data_head_child">
        <table style="width:100%">
            <tr>
                <th>Institution</th>
                <td>{{ contact.Institution }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ contact.Location }}</td>
            </td>
            <tr>
                <th>Email</th>
                <td>{{ contact.Email }}</td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block data_body %}
    <tr>
        <th>Attributed Clinical Isolates</th>
    </tr>
    {% for contact_link in contact.clinical_isolate_contact_collection %}
        <tr>
            <td><a href="{{ url_for('isolate.isolate_page', isolate_id=contact_link.IsolateID) }}">{{ contact_link.IsolateID }}</td>
        </tr>
    {% endfor %}
{% endblock %}
