@import "base_style.css";

body { 
    max-width: 960px; 
    margin: 0 auto; 
    background: white; 
    border-radius: 10px;
}

td  {
    text-align: center;
}

.entry_link a:hover {
    color: #489fd9;
}

table {
    border-collapse: collapse;
}

table tr:nth-child(even) td{
    background-color: #eeeeee;
}

table tr:nth-child(even) td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

table tr:nth-child(even) td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.index_head th  {
    border-bottom: 1px solid lightgray;
    padding: 1rem 1rem;
}

nav.index_nav {
    margin: 1rem 1rem;
}

td {
    padding: 30px;
}

img.mini_picture {
    max-height: 80px;
}

.index_nav button {
    background: none;
    border: none;
    padding: 0;
    color: #489fd9;
    cursor: pointer;
}
