{% extends 'data_base.html' %}

{% block header %}
    <h2>{% block title %}EOP Assay Data{% endblock %}</h2>
{% endblock %}

{% block data_table %}
    <tr>
        <th>Phage&#8597 | Isolate&#8596</th>
        {% for dict in EOP_data_dicts %}
            <th><a href="{{ url_for('isolate.isolate_page', isolate_id=dict["Isolate"]) }}">{{ dict["Isolate"] }}</th>
        {% endfor %}
    </tr> 
    {% for phage in phages %}
        <tr>
            <th>{{ phage }}</th>
            {% for dict in EOP_data_dicts %}
                <td>{{ dict[phage] }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
{% endblock %}
